*{  /*css reset*/
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}
/* classi di utilità*/
.clearfix::after{
    content:"";
    display: table; /*per questioni di retrocompatibilità dei browser*/
    clear: both;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.w-370{
    width:370px;
}

.container{
    margin:0 auto;
    max-width:800px;
}

.btn-blue{
    background-color: blue;
    color:white;
    padding-left: 10px;
    padding-right:10px;
 }

 .btn-grande{
     padding:10px 40px;
 }

 .spunta-blu{
    color:blue;
}
/*/classi di utilità*/

/*header*/
header{
    line-height: 50px;
    /*position: fixed;*/
    /*z-index:2*/
}

.debug .header{
    height: 300px;
}

header nav li{
    display: inline-block;
    list-style-type: none;
    margin:10px;
}

 header nav li a{
     text-decoration: none;
     color: black;
 } 

 header .nav-sinistra{
     margin-right: 400px;
 }

 header nav li a:hover{
     text-decoration: underline;
 }

 header button{
     margin-left:10px;
     margin-top:25px;
 }

 .clearfix .logo{
     padding-top:15px; 
     margin-right:10px;
 }
/*jumbotron*/
 .prova-gratuita{
     background-color: cyan;
     padding-top:30px;
 }

.prova-gratuita h1{
     font-size: 50px;
     text-align: center;
 }

 .prova-gratuita img{
     width:600px;
 }

 .prova-gratuita .col{
     width: 300px;
     margin-top: 50px;
 }

 .prova-gratuita button{
     margin-top:40px;
     margin-bottom:10px
 }
/*/jumbotron*/

/*sez. piano-dropbox*/
 .piano-dropbox{
    margin-top:100px;
 }

 .container-piano-dropbox{
     margin:0 auto;
     max-width:1000px;
 }

.piano-dropbox .col{
    width:30%;
    margin-top:30px;
    margin-left:20px;
}

.piano-dropbox h1{
    text-align: center;
    font-size: 50px;
    margin-bottom: 70px;
}

.piano-dropbox input{
    margin-left: 1%;
}

.piano-dropbox .top-col{
    height:20%;
    border: 1px solid gray;
    padding:5px 20px;
    text-align: center;
   
} 

 .piano-dropbox .bottom-col{
     height:80%;
     border-left:1px solid gray;
     border-right: 1px solid gray;
     border-bottom: 1px solid gray;
    /* padding-top: 20px;*/
     padding-left:10px;
 }

 .piano-dropbox ul{
     list-style-type: none;
 }

.piano-dropbox .bottom-col h1{
    margin-bottom: 20px;
    margin-left:30px;
    margin-left: 1%;   
}

.piano-dropbox .bottom-col .price{
    margin-left: 30px;
}

.piano-dropbox .bottom-col .periodo{
    margin-bottom: 60px;
    margin-left:30px;
}

.piano-dropbox .bottom-col ul{
    margin-bottom:80px;
}

.piano-dropbox .bottom-col li{
    margin:30px;
}

.piano-dropbox .bottom-col button{
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 30px;
}

.piano-dropbox .bottom-col h2{
    margin-top:40px;
    margin-left: 20px;
}

.single-col{
    margin-top:100px;
}
/*/sez. piano-dropbox*/



